.servicios-img{
    width: 140px;
    height: 140px;
}
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
#main-content{
    /* padding: 50px; */
    margin: -32px 10vw 0 10vw;
    background-color: rgb(88, 75, 75, 0.7);
    color: #fff6de;
}
.navbar-nav > .nav-item > .nav-link{
    margin: 0 20px 0 20px;
    display: block;
}
.navbar-nav > .nav-item > .nav-link:hover{
    font-weight: bold;
}
form > .row{
    margin-top: 10px;
}
.jumbotron-image{
    width: 100%;
}
.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(88, 75, 75, 0.8)), url('../images/image-background-3.jpg');
    background-size: 100vw 100vh;
    color: #fffdf7;
    opacity: 0.9;
    margin: 0 10vw 0 10vw;
}
@media (max-width: 768px) {
    .jumbotron{
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
}
.btn-page-call, .btn-page{
    background-color: #7eb2dd;
    color: #FFF6DE;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-page-portafolio{
    font-size: x-large;
    margin-top: 120px;
    display: none;
}
.btn-page-call{
    font-size: x-large;
}
.sections-title{
    margin: 25px;
    padding-top: 20px;
}
hr{
    background-color: #FFF6DE;
}
#contacto{
    padding: 0 10px 20px 10px;
}

#contacto > h2{
    margin-bottom: 45px;
}
#contacto-redes-sociales > a > i{
    text-align: center;
    font-size: 2rem;
    margin-right: 10px;
}
#contacto-redes-sociales > a{
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: #FFF6DE;
}
@media (max-width: 768px) {
    #contacto-redes-sociales > a{
        text-align: left;
        margin-top: 10px;
    }
}
#contacto-redes-sociales > a:hover{
    text-decoration: underline;
    color: #7eb2dd;
}
.modal-content{
    background-color: #282827 !important;
}
.modal-title{
    color: #FFF6DE !important;
}
iframe{
    width: 80%;
}
.inicio-carrera{
    display: inline-block;
    margin-top: 25px !important;
    padding: 5px 15px 5px 15px;
    font-size: x-large;
    border: 2px inset #0091AD;
}